html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 3.5rem;
    margin-bottom: 60px;
    background-color: #3c3c3c;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* CUSTOM CSS */

.smaller-text{
    font-size: 10px;
}

.vertical-container {
    margin-top: 15%;
}

.wip-banner {
    text-align: center;
    color: white;
    font-family: 'Fira Code', monospace;
    text-shadow: 0 0 3px white;
}

.happy-puppy-left {
    left: -30%;
    position: absolute;
    width: 10em;
    height: 10em;
    z-index: 1;
    background-image: url("../images/pupp.png");
    background-size: contain;
    transform: scaleX(-1);
    animation: moveright 4s linear 1s infinite;
}

.happy-puppy-right {
    right: 100%;
    top: 15%;
    position: absolute;
    width: 10em;
    height: 10em;
    z-index: 1;
    background-image: url("../images/pupp.png");
    background-size: contain;
    animation: moveleft 6s linear 1s infinite;
}

.happy-puppy-circleclock {
    left: -10%;
    position: absolute;
    width: 10em;
    height: 10em;
    z-index: -1;
    background-image: url("../images/pupp.png");
    background-size: contain;
    animation: circleclock 6s linear 1s infinite;
}

.happy-puppy-circlewise {
    right: 10%;
    position: absolute;
    width: 10em;
    height: 10em;
    z-index: -1;
    background-image: url("../images/pupp.png");
    background-size: contain;
    animation: circlewise 6s linear 1s infinite;
}

@keyframes moveright {
    from {
        left: -30%;
    }

    to {
        left: 100%;
    }
}

@keyframes moveleft {
    from {
        right: -100%;
    }

    to {
        right: 100%;
    }
}

@keyframes circleclock {
    0% {
        transform: rotate(0deg) translate(-40em) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-40em) rotate(-360deg);
    }
}

@keyframes circlewise {
    0% {
        transform: rotate(360deg) translate(-50em) rotate(-360deg);
    }

    100% {
        transform: rotate(0deg) translate(-50em) rotate(0deg);
    }
}



/* CUSTOM CSS */
