/*                    HOME                      */

* {
	font-family: Century gothic, segoe ui, tahoma, helvetica;
}

html { 
  background: url(bkgd.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    /* background-color: #494949; */
    /* background-image: url("assets\img\bkgd.png") */
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	
}

main {
    flex: 1 0 auto;
}

#page1 {
    /* background-color: #e299ff; */
    min-height: 85vh;
}


/*                    HOME                      */

#about2{
    color: cyan;
    font-size: 15px;
    font-weight: bold;
}
#course2{
    color: greenyellow;
    font-size: 15px;
    font-weight: bold;
}
#work2{
    color: #f4ff5b;
    font-size: 15px;
    font-weight: bold;
}


/*           JUMBO                    */

#jumb0 {
	/* background-color: #adadad; */
    color: azure;
	padding-bottom: 20px;
	text-align: center;
}

#jumb0 a{
    color: yellow;
    text-shadow: 1px 1px 10px black;
}


#jumb0 a:hover{
    color: #3284ff;
    text-shadow: 0px 0px 1px white;
}



/*           JUMBO                    */

/*           BUTTONS                  */

#links{
    text-align: center;
    margin-top: 10%;
}

#links a{
    color: black;
}

/*           BUTTONS                  */

/*           ABOUT                    */

#about {
    background-color: rgba(0, 255, 255, 0.4); 
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
    
}

#about:hover {
    -webkit-box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    color: white;
    text-shadow: 1px 1px 15px black;
}

#about a{
    color: black;
}

#about a:hover{
    color: #c1fdff;
    text-shadow: 1px 1px 10px black;
}



/*           ABOUT                    */

/*          COURSE                    */

#course {
    background-color: rgba(173, 255, 47, 0.4);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
}

#course:hover {
    -webkit-box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    color: white;
    text-shadow: 1px 1px 15px black;
}

#course a {
    color:black;
}

#course a:hover{
    color: #ccffd9;
    text-shadow: 1px 1px 10px black;
}



/*          COURSE                    */

/*           WORK                     */

#work {
    background-color: rgba(255, 140, 0, 0.4);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%; 
    margin-bottom: 10px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
}

#work:hover {
    -webkit-box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    color: white;
    text-shadow: 1px 1px 15px black;
}

#work a{
    color: black;
}

#work a:hover{
    color: #ffeccc;
    text-shadow: 1px 1px 10px black;
}


/*           WORK                    */

/*           CONTACT                 */

#contact {
    background-color: rgba(255, 69, 0, 0.4);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 10px;
    border-radius: 100px;
    -webkit-box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 12px 16px 0px rgba(0,0,0,0.24);
}

#contact:hover {
    -webkit-box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 12px 16px 0px rgba(255,255,255,1);
    color: white;
    text-shadow: 1px 1px 15px black;
}

#contact a{
    color: black;
}

#contact a:hover{
    color: #ffeccc;
    text-shadow: 1px 1px 10px black;
}



/*           CONTACT                 */

/*          FOOTER                   

#footer {
    background-color: #adadad;
    box-shadow: 12px 0px 20px 10px rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
}

#footer a{
    color: black;
}

#footer a:hover {
    color:white;
}


#footer img {
    height: 32px;
    width: 32px;
    
}

         FOOTER                    */

/*          MODAL                    */

#modal1 {
    text-align: center;
}

#modal1 a{
    color: black;
    text-shadow: 1px 1px 15px gray; 
}

#modal1 a:hover{
    color: white;
    text-shadow: 1px 1px 25px black; 
}

#modal3 {
    text-align: center;
}

#modal4 {
    text-align: center;
}

#closebtn {
    margin-top: 50px;
}

/*          MODAL                    */

/*          MODALCONTENT             */

#informationtech {
    background-color: #ff8989;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#creatingsystems {
    background-color: #ffff89;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#socialmedia {
    background-color: #8fff89;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#programming {
    background-color: #89fbff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#websitedev {
    background-color: #8a9dfc;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#appdev {
    background-color: #ffa8ec;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#screenshot {
    height: 400px;
    width:  390px;
}

#technicali {
    text-align: left;
        background-color: #bbff7c;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#technicals {
    text-align: left;
    background-color: #91ffea;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#untechnicali {
    text-align: left;
    background-color: #faaaff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

#workexp {
    text-align: left;
    background-color: #ffb472;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

/*          MODALCONTENT             */

/*          MEDIA QUERIES            */


@media screen and (max-width: 800px) {

    #jumb0 h3{
        font-size: 30px;
    }
    #jumb0 p{
        font-size: 20px;
    }
    #modal1 p{
        font-size: 15px;
    }
    #modal1 li{
        font-size: 15px;
    }
    #modal1 ul{
        font-size: 15px;
    }
    #modal2 p{
        font-size: 15px;
    }
    #modal2 h5{
        font-size: 20px;
    }
    #modal3 p{
        font-size: 15px;
    }
    #modal4 h5{
        font-size: 15px;
    }
    #modal4 h3{
        font-size: 20px;
    }
    #screenshot {
    height: 300px;
    width:  290px;
    }

    
}

@media screen and (max-width: 600px) {

    #about {
        border-radius: 0px;
    }
    #course {
        border-radius: 0px;
    }
    #work {
        border-radius: 0px;
    }
    #contact {
        border-radius: 0px;
    }
    
    #links  {
    text-align: center;
    margin-top:60px;
    }
    
    
    
    
}

@media screen and (max-width: 400px) {

    #jumb0 h3{
        font-size: 25px;
    }
    #jumb0 p{
        font-size: 15px;
    }
    #modal1 p{
        font-size: 10px;
    }
    #modal1 li{
        font-size: 10px;
    }
    #modal1 ul{
        font-size: 10px;
    }
    #modal2 p{
        font-size: 10px;
    }
    #modal2 h5{
        font-size: 15px;
    }
    #modal3 p{
        font-size: 10px;
    }
    #modal4 h5{
        font-size: 10px;
    }
    #modal4 h3{
        font-size: 15px;
    }
    #screenshot {
    height: 200px;
    width:  190px;
    }
    
   
}
